<%= form_with( model: @post, :html => {id: "posts-form", class:"ed-container main-center main-form"}) do |f| %>
	
	<div class="ed-item s-75">
		<%= f.text_field :url, required: true, class: "main-form__url", placeholder: "Pega aquí tu url original ..." %>
	</div>
	<div class="ed-item s-25">
		<%= f.submit "ACORTA LA URL", class: "main-form__submit" %>
	</div>
	
	<div class="opcional-form ed-container">
		<div class="ed-item">
			<label>Opcional: <span>o.li/</span></label>
			<%= f.text_field :title, placeholder: "url-personalizada", class: "opcional-form__title" %>
		</div>
	</div>

<% end %>