<div class="content-wrapper">
	<div class="content">
		<%= render "form" %>
		<div id="confirmacion"></div>

		<% if @video_exist  %>
			<video src="<%= @post.url %>"></video>
		<% else %>
			<p><%= @post.url %></p>
		<% end %>
	</div>
</div>
