<div class="main-page">
	<div>
		<%= render "form" %>
	
		<div id="confirmacion" class="ed-container confirmacion"></div>

		<% if @video_exist  %>
			<video src="<%= @post.url %>"></video>
		<% else %>
			<p><%= @post.url %></p>
		<% end %>
	</div>
</div>
