// Colores
$primary-color: #313439;
$primary-color-dark: #2c2f34;
$primary-color-ultra-dark: #282828;

$secondary-color: #d84e5b;

$white: #d6d6d6;

$primary-font: 'Bree Serif', serif;
$secondary-font: 'Lato', sans-serif;