<!DOCTYPE html>
<html>
  <head>
    <title>Onegaistream</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
		<h1>Acortador de Url</h1>
		<h3>Onegai.stream</h3>
	</header>
    <%= yield %>
  </body>
</html>
